@mixin btn ($variant: 'primary', $color: $primary-color-theme, $text_color: $dark-color, $border_color: '') {
    display: inline-flex;
    padding: 0.7rem 1rem;
    border-radius: .5rem;
  
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .material-symbols-sharp {
      padding: 0 .1rem;
      border-radius: 50%;
      font-size: 1rem;
      //@if($variant == 'primary') {
      //  margin-left: 0.5rem;
      //}
    }
  
    &__#{$variant} {
      background: $color;
      border: 1px solid $border_color;
      color: $text_color;
  
      * {
        color: $text_color;
      }
  
      &:hover {
        background: $text_color;
  
        color: $color;
        * {
          color: $color;
        }
      }
  
      &__full {
        display: flex;
        background-color: $color;
        color: $text_color;
        justify-content: center;
        width: 100%;
      }
    }
  
    &__shared_house {
      padding: 1rem 2rem;
      color: $dark-color;
      cursor: pointer;
      background: rgb(255,182,41);
      background: linear-gradient(90deg, rgba(255,182,41,1) 0%, rgba(255,218,86,1) 35%, rgba(255,215,166,1) 100%);
    }
  }
  
  @mixin align($direction) {
    &.#{$direction} {
      text-align: $direction;
    }
  }

  @mixin link($variant: 'primary', $color: $primary-color-theme) {
    &__#{$variant} {
      color: $color;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        color: darken($color, 10%);
      }
    }
  }

  // With map
  $breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
  );
  
  @mixin media-min2($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
      @content;
    }
  }
  