.alert {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  text-align: center!important;

  &-danger {
    background-color: lighten($danger-color, 10%);
    color: darken($danger-color, 30%);
  }

  &-success {
    background-color: lighten($success-color, 10%);
    color: darken($success-color, 30%);
  }

  &-warning {
    background-color: lighten($warning-color, 10%);
    color: darken($warning-color, 30%);
  }

  &-info {
    background-color: lighten($info-color, 10%);
    color: darken($info-color, 30%);
  }

  &-primary {
    background-color: lighten($primary-color, 10%);
    color: darken($primary-color, 30%);
  }
}
